<!-- <pre color="accent">{{groupForm | json}}</pre> -->
<div class="main">
    <div class="header">
        <h1 class="title" mat-dialog-title>{{title | translate}}</h1>
    </div>

    <div class="mat-dialog-content" mat-dialog-content>
        <form [formGroup]="form">
            <div class="control" appearance="outline">
                <label>{{"Nombre" | translate}}</label>
                <input name="name" formControlName="name">
            </div>
            <div class="control" appearance="outline">
                <label>{{"Descripcion" | translate}}</label>
                <input name="description" formControlName="description">
            </div>
            <mat-slide-toggle color="accent" formControlName="active">{{'Activo' | translate}}</mat-slide-toggle>
            <div *ngIf="data.mode !== 'ADD'" style="margin-top: 30px; display: flex; flex-direction: column;">
                <h1 class="modules" mat-dialog-title>{{availableModules | translate}}</h1>
                <ng-container *ngFor="let module of moduleList">
                    <mat-checkbox [disabled]="true" class="example-margin" [checked]="modules.includes(module.id)">{{module.name | translate}}</mat-checkbox>
                </ng-container>
            </div>

        </form>
    </div>

    <div class="mat-dialog-actions" mat-dialog-actions>
        <div class="fill"></div>
        <div class="buttons">
            <button mat-raised-button (click)="close()">{{ 'Cerrar' | translate}}</button>
            <button mat-raised-button color="accent" (click)="onClick()">{{ 'Guardar' | translate}}</button>
        </div>
    </div>
</div>
