.header, .filter, .grid-skeleton, .grid {
    margin: 20px auto;
    width: 95%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
}

.grid-container {
    margin: 20px auto;
    width: 96%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
}