.table {
    background: white;
    padding: 15px;
    border-radius: 2px;

    .title {
        color: #73879c;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.471;

        &:after,
        form:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }

    .mat-header-row {
        background: #2a3f54;

        .mat-header-cell {
            color: white;
            font-weight: 700;
            font-size: 14px;
        }
    }
}
