<div class="main">
    <div class="header">
        <h1 class="title" mat-dialog-title>{{title | translate}}</h1>
    </div>

    <div class="mat-dialog-content" mat-dialog-content>
        <form [formGroup]="modulesForm">
            <div class="control" appearance="outline">
                <label>{{"Nombre" | translate}}</label>
                <input name="name" formControlName="name">
            </div>
            <div class="control" appearance="outline">
                <label>{{"Descripcion" | translate}}</label>
                <input name="description" formControlName="description">
            </div>
            <div class="control" appearance="outline">
                <label>Root</label>
                <input name="grupo" formControlName="grupo">
            </div>
            <div class="control" appearance="outline">
                <label>{{"Controlador" | translate}}</label>
                <input name="controlador" formControlName="controlador">
            </div>
            <mat-slide-toggle color="accent" formControlName="active">{{"Activo" | translate}}</mat-slide-toggle>
        </form>
    </div>


    <div class="mat-dialog-actions" mat-dialog-actions>
        <div class="fill"></div>
        <div class="buttons">
            <button mat-raised-button (click)="close()">{{"Cerrar" | translate}}</button>
            <!-- <button mat-raised-button color="accent" (click)="onClick()">{{"Guardar" | translate}}</button> -->
        </div>
    </div>
</div>