@import "~@angular/material/theming";
@import "../../../scss-variables/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.sidebar-container {
    display: flex;
    flex-direction: column;

    &>.logo {
        height: 60px;
        margin: 40px auto;

        &>img {
            margin: 0 auto;
            height: 100%;
        }
    }


    .mat-accordion-expanded {
        .nav-menu {
            background-color: $blue-background;
            color: mat-color($my-primary) !important;
            box-shadow: none;

            .mat-expansion-panel-header-title {
                color: mat-color($my-primary) !important;

                span:first-child {
                    margin-right: 10px;
                    font-size: 30px;
                }

                span:last-child {
                    margin-right: 10px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &.mat-expanded .mat-expansion-panel-header{
                background: #409396;
                box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
            }

            .opt-menu {
                .nav-option {
                    color: #fff;
                    text-decoration: none;
                }
                .active-link{
                    background: rgba(255,0,26,0.2);   
                }
            }
        }
    }

    .mat-accordion-collapsed {
        margin-top: 140px;

        .nav-menu {
            background-color: $blue-background;
            color: mat-color($my-primary) !important;
            box-shadow: none;

            .mat-expansion-panel-header-title {
                color: mat-color($my-primary) !important;
                margin-right: 0px;
            }

            span:first-child {
                font-size: 30px;
            }

            &.mat-expanded .mat-expansion-panel-header,
            .active-link {
                background: #409396;
                box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.25);
            }

            .opt-menu {
                position: fixed;
                z-index: 10;
                margin-left: 73px;
                margin-top: -48px;
                background: $blue-background;

                .nav-option {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                    height: 30px;
                    padding: 10px 10px 10px 10px;
                }
                .active-link{
                    background: rgba(255,0,26,0.2);   
                }
            }
        }
    }

}

::ng-deep .mat-menu-content {
    background-color: #409396;
}

.user-menu-items {
    width: 260px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.expand-menu {
    background: rgba(255, 0, 26, 0.2);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.flex {
    display: flex;
    flex-direction: column;
}

::ng-deep .nav-menu {
    .mat-expansion-panel-body {
        padding: 0 !important;
    }

    .mat-expansion-panel-header.mat-expanded {
        height: 48px;
    }

    .mat-expansion-indicator::after {
        color: mat-color($my-primary) !important;
    }
}


::ng-deep .nav-menu .mat-expansion-indicator::after {
    color: mat-color($my-primary) !important;
}

.user_name_title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.user_role_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 10px;
    line-height: 15px;
    color: #105B5E;
}

.user_component {
    display: flex;
    justify-content: space-around;
}

.user_nav_menu {
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
}

.company-img {
    width: 20%;
    border-radius: 50%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}