
    <div class="sidebar-container">
        <div class="logo">
            <img src="../../../../../assets/logo-alice-blanco.png" alt="">
        </div>

        <div class="profile">
            <div class="logo">
                <img [src]="img" alt="">
            </div>
            <div class="user-profile">
                <p class="welcome" [ngClass]="getThemeTitle()">{{"welcome" | translate}}</p>
                <p class="user-name" [ngClass]="getThemeSubtitle()">{{user?.userName}}</p>
            </div>
        </div>

        <mat-accordion displayMode="flat">
            <mat-expansion-panel class="nav-menu" hideToggle (click)="home()">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">
                        <mat-icon>home</mat-icon>{{"Inicio" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="userCanAccessAdministration() | async" class="nav-menu flex">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">
                        <mat-icon>settings</mat-icon>{{"Administracion" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a *ngIf="userCanAccessModule(Modules.Applications) | async" class="nav-option flex"
                    routerLinkActive="active-link" [routerLink]="['/administration/applications']">
                    <button mat-button> {{"Aplicaciones" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Companies) | async" class="nav-option flex"
                    routerLinkActive="active-link" [routerLink]="['/administration/companies']">
                    <button mat-button> {{"Empresas" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Roles) | async" class="nav-option flex"
                    routerLinkActive="active-link" [routerLink]="['/administration/roles']">
                    <button mat-button> {{"Roles" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Modules) | async" class="nav-option flex"
                    routerLinkActive="active-link" [routerLink]="['/administration/modules']">
                    <button mat-button> {{"Modulos" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Users) | async" class="nav-option flex"
                    routerLinkActive="active-link" [routerLink]="['/administration/users']">
                    <button mat-button> {{"Usuarios" | translate }}</button>
                </a>

            </mat-expansion-panel>
            <mat-expansion-panel class="nav-menu flex">
                <mat-expansion-panel-header>
                    <mat-panel-title class="bold">
                        <mat-icon>edit_note</mat-icon>{{"Gestion" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a class="nav-option flex" routerLinkActive="active-link" [routerLink]="['/management/queries']">
                    <button mat-button> {{"Consultas" | translate }}</button>
                </a>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
