<div class="sidebar-container">
    <div class="logo" [ngClass]="{ 'foo': !isSideBarExpanded}">
        <img src="../../../../../assets/logo-alice-blanco.png" alt="">
    </div>

    <mat-accordion [ngClass]="getMenuMargin()" displayMode="flat" multi>
        <mat-expansion-panel class="nav-menu" [expanded]="homePanel" hideToggle (click)="handleMenu('Home')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="material-symbols-rounded">
                        home
                    </span>
                    <span [hidden]="!isSideBarExpanded">{{"Inicio" | translate }}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel class="nav-menu flex" [expanded]="panelOpenStateManag" hideToggle (click)="handleMenu('Gestion')"
            routerLinkActive="active-link" [routerLink]="['/applications']">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="material-symbols-rounded">
                        edit_note
                    </span>
                    <span [hidden]="!isSideBarExpanded">{{"Aplicaciones" | translate }}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="panelOpenStateAdm" (click)="handleMenu('Administracion')"
            *ngIf="userCanAccessAdministration() | async" class="nav-menu flex" [hideToggle]="!isSideBarExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="material-symbols-rounded">
                        settings
                    </span>
                    <span [hidden]="!isSideBarExpanded">{{"Administracion" | translate}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="opt-menu">
                <a *ngIf="userCanAccessModule(Modules.Companies) | async" class="nav-option flex"
                    (click)="closePanelOpt()" routerLinkActive="active-link"
                    [routerLink]="['/administration/companies']">
                    <button mat-button class="buttonText"> {{"Empresas" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Applications) | async" class="nav-option flex"
                    (click)="closePanelOpt()" routerLinkActive="active-link"
                    [routerLink]="['/administration/applications']">
                    <button mat-button class="buttonText"> {{"Aplicaciones" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Modules) | async" class="nav-option flex"
                    (click)="closePanelOpt()" routerLinkActive="active-link" [routerLink]="['/administration/modules']">
                    <button mat-button class="buttonText"> {{"Modulos" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Roles) | async" class="nav-option flex" (click)="closePanelOpt()"
                    routerLinkActive="active-link" [routerLink]="['/administration/roles']">
                    <button mat-button class="buttonText"> {{"Roles" | translate }}</button>
                </a>
                <a *ngIf="userCanAccessModule(Modules.Users) | async" class="nav-option flex" (click)="closePanelOpt()"
                    routerLinkActive="active-link" [routerLink]="['/administration/users']">
                    <button mat-button class="buttonText"> {{"Usuarios" | translate }}</button>
                </a>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="userCanAccessAdministration() | async"
            [expanded]="panelOpenStateDev" (click)="handleMenu('Dev')" class="nav-menu flex"
            [hideToggle]="!isSideBarExpanded">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="material-symbols-rounded">
                        build
                    </span>
                    <span [hidden]="!isSideBarExpanded">{{"developmentsTools" | translate}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="opt-menu">
                <a class="nav-option flex" (click)="closePanelOpt()" routerLinkActive="active-link"
                    [href]="swaggerUrl" target="_blank">
                    <button mat-button class="buttonText">Swagger</button>
                </a>
                <a class="nav-option flex" (click)="closePanelOpt()" routerLinkActive="active-link"
                    [href]="postmanUrl" target="_blank">
                    <button mat-button class="buttonText">Postman</button>
                </a>
            </div>
        </mat-expansion-panel>

        <button mat-button class="nav-menu user_nav_menu" [matMenuTriggerFor]="menu">
            <div class="login-container">
                <img class="company-img" [src]="img">
                <div class="flex">
                    <div class="user_name_title" [ngClass]="{'info-user' : !isSideBarExpanded}">
                        {{user?.firstName}} {{user?.lastName}}
                    </div>
                    <div class="user_role_subtitle" [ngClass]="{'info-user' : !isSideBarExpanded}">
                        {{user?.roleName}}
                    </div>
                </div>
            </div>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
            <button (click)="closeSession()" id="myPanelId" mat-menu-item class="user-menu-items">
                {{"CloseSession" | translate }}</button>
            <button (click)="showPasswordPopUp(user?.firstName)" id="myPanelId" mat-menu-item class="user-menu-items">
                {{"CambiarContraseña" | translate }}</button>
        </mat-menu>

    </mat-accordion>
</div>