.header-container {
    .header-up {
        display: flex;
        align-items: center;
        height: fit-content;

        .header {
            width: 80%;
            font-size: 30px;
        }

        .find {
            width: 20%;
            .example-form {
                display: flex;
                justify-content: center;
                align-items: baseline;

                mat-form-field {
                    width: 70%;
                }

                button {
                    margin-left: 20px;
                    height: 40px;
                }
            }
        }
    }

    .header-down {
        font-size: 18px;
    }
}