<div class="main">
    <div class="header">
        <h1 class="title text-white" mat-dialog-title>{{title | translate}}</h1>
        <div class="flex-1"></div>
        <button *ngIf="isView" class="icon-button" mat-icon-button (click)="toggleEdit()">
            <span class="material-symbols-outlined">edit_note</span>
        </button>
        <button *ngIf="isEdit" class="icon-button" mat-icon-button (click)="delete()">
            <span class="material-symbols-outlined">delete</span>
        </button>
        <button class="icon-button" mat-icon-button (click)="close()">
            <span class="material-symbols-outlined">close</span>
        </button>
    </div>

    <div class="mat-dialog-content" mat-dialog-content>
        <form [formGroup]="form">
            <mat-tab-group [(selectedIndex)]="selectedIndex">
                <mat-tab class="data-group text-white" [label]="'Datos' | translate ">
                    <div class="information-tab grid">
                        <div class="control name" appearance="outline">
                            <label class="text-light-blue">{{"Nombre" | translate }}*</label>
                            <input name="name" formControlName="name" class="text-input">
                            <mat-error>
                                <app-form-error [form]="form" field="name" [errors]="form.get('name')?.errors">
                                </app-form-error>
                            </mat-error>
                        </div>
                        <div class="control activity" appearance="outline">
                            <label class="text-light-blue">{{"Actividad" | translate }}</label>
                            <input name="activity" formControlName="activity" class="text-input">
                        </div>
                        <div class="control businessName" appearance="outline">
                            <label class="text-light-blue">{{"RazonSocial" | translate }}</label>
                            <input name="businessName" formControlName="businessName" class="text-input">
                        </div>
                        <div class="control cif" appearance="outline">
                            <label class="text-light-blue">{{"Cif" | translate }}*</label>
                            <input name="cif" formControlName="cif" class="text-input">
                            <mat-error>
                                <app-form-error [form]="form" field="cif" [errors]="form.get('cif')?.errors">
                                </app-form-error>
                            </mat-error>
                        </div>
                        <div class="control image">
                            <label class="text-light-blue">Logo</label>
                            <img (click)="imageInput.click()" class="image-logo"
                                [src]="logoControl.value ?? '/assets/upload-image.svg'" alt="">
                            <input #imageInput type="file" [disabled]="isView" (change)="onFileChanged($event, logoControl)"
                                class="flex-1 text-input">
                        </div>
                        <div class="control active">
                            <label class="text-light-blue">{{"Active" | translate }}</label>
                            <mat-slide-toggle class="active-toggle" color="accent" formControlName="isActive">
                            </mat-slide-toggle>
                        </div>

                        <div class="control description" appearance="outline">
                            <label class="text-light-blue">{{"Descripcion" | translate }}</label>
                            <textarea name="description" formControlName="description" class="text-input"></textarea>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab class="data-group" [label]="'Localizacion' | translate">
                    <div class="grid ubication-tab">
                        <div class="control address" appearance="outline">
                            <label>{{"Direccion" | translate}}</label>
                            <input name="address" formControlName="address" class="text-input">
                        </div>
                        <div class="control zip" appearance="outline">
                            <label>{{"CP" | translate}}</label>
                            <input name="zip" formControlName="zip" class="text-input">
                        </div>
                        <div class="control city" appearance="outline">
                            <label>{{"Ciudad" | translate}}</label>
                            <input name="city" formControlName="city" class="text-input">
                        </div>
                        <div class="control province" appearance="outline">
                            <label>{{"Provincia" | translate}}</label>
                            <input name="province" formControlName="province" class="text-input">
                        </div>
                        <div class="control country" appearance="outline">
                            <label>{{"Pais" | translate}}</label>
                            <input name="country" formControlName="country" class="text-input">
                        </div>

                        <div class="control company-map">
                            <label>{{"Mapa" | translate}}</label>
                            <iframe class="flex-1 map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                allowfullscreen webkitallowfullscreen mozallowfullscreen [src]="urlMap | safe">
                            </iframe>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab class="data-group" [label]="'Contacto' | translate">
                    <div class="grid contact-tab">
                        <div class="control language" appearance="outline">
                            <label>{{"Idioma" | translate}}</label>
                            <input name="language" formControlName="language" class="text-input">
                        </div>
                        <div class="control phoneNumber" appearance="outline">
                            <label>{{"Telefono" | translate}}</label>
                            <input name="phoneNumber" formControlName="phoneNumber" class="text-input">
                        </div>
                        <div class="control email" appearance="outline">
                            <label>{{"Email" | translate}}*</label>
                            <input name="email" formControlName="email" class="text-input">
                            <mat-error>
                                <app-form-error [form]="form" field="email" [errors]="form.get('email')?.errors">
                                </app-form-error>
                            </mat-error>
                        </div>
                        <div class="control web" appearance="outline">
                            <label>{{"Web" | translate}}</label>
                            <input name="web" formControlName="web" class="text-input">
                        </div>
                        <div class="control contactName" appearance="outline">
                            <label>{{"NombreContacto" | translate}}*</label>
                            <input name="contactName" formControlName="contactName" class="text-input">
                            <mat-error>
                                <app-form-error [form]="form" field="contactName"
                                    [errors]="form.get('contactName')?.errors"></app-form-error>
                            </mat-error>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="data-group" [label]="'Theme' | translate">
                    <div class="grid theme-tab">
                        <div class="control image">
                            <label class="text-light-blue">Background</label>
                            <img (click)="backgroundInput.click()" class="background-image"
                                [src]="backgroundImageControl.value ?? '/assets/upload-image.svg'" alt="">
                            <input #backgroundInput type="file" [disabled]="isView" (change)="onFileChanged($event, backgroundImageControl)"
                                class="flex-1 text-input">
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
    <div class="mat-dialog-actions" mat-dialog-actions>
        <div class="dots">
            <span class="dot" (click)="selectedIndex = 0" [ngClass]="{'active': selectedIndex === 0}"></span>
            <span class="dot" (click)="selectedIndex = 1" [ngClass]="{'active': selectedIndex === 1}"></span>
            <span class="dot" (click)="selectedIndex = 2" [ngClass]="{'active': selectedIndex === 2}"></span>
            <span class="dot" (click)="selectedIndex = 3" [ngClass]="{'active': selectedIndex === 3}"></span>
        </div>
        <div class="buttons">
            <button class="button success save-button" color="accent" (click)="submit()" [disabled]="form.invalid"
                *ngIf="!isView">{{"Guardar" | translate}}</button>
        </div>
    </div>
</div>