html,
body,
app-root,
app-progress-spinner,
app-layout {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-login {
  height: 100%;
  width: 100%;
}

body {
  background: #f0f0f0;
  font-family: Poppins, "Helvetice New", "Arial", sans-serif;
}

.error-form-message {
  color: red;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  margin: 0px;
  overflow: auto;
}

.main-theme {
  .mat-form-field {
    color: rgba(0, 0, 0, 0.87);

    &.mat-focused {
      .mat-form-field-label {
        color: rgb(0, 0, 0, 0.6);
      }

      .mat-form-field-ripple {
        background-color: rgb(0, 0, 0, 0.6);
      }
    }
  }

  .mat-input-element {
    caret-color: black;
  }
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  padding: 0px 5px;
  line-break: anywhere;
  width: auto;
  overflow: hidden;
  vertical-align: middle;
}

.mat-header-cell {
  padding: 10px 5px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}