html,
body,
app-root,
app-progress-spinner,
app-layout {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #f0f0f0;
    font-family: Poppins, 'Helvetice New', 'Arial', sans-serif;
}



.error-form-message {
    color: red;
    ;
}