.page-container {
    height: 100%;

    .breadcrumb {
        width: 90%;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }

    .grid {
        width: 90%;
        margin: 0 auto;
    }
}