.filter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    mat-form-field {
        width: 90%;
    }

    button {
        margin-left: 20px;
        height: 40px;
    }
}


table {
    width: 95%;
    padding-top: 20px;
    margin: 0 auto;
}

mat-paginator {
    margin-top: 40px;
}