<div class="main">
    <div class="header">
        <h1 mat-dialog-title class="title">{{title | translate}}</h1>
        <div class="subtitle">
            <h1 mat-dialog-title>{{subtitle  | translate}} </h1>
            <p style="font-weight:bold; font-size: 20px;">{{data.nombre}}</p>
        </div>
    </div>
    <div class="mat-dialog-content" mat-dialog-content>
        <form>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>{{"Password" | translate}}</mat-label>
                <input type="password" matInput name="password" formControlName="password">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>{{"RepitePassword" | translate}}</mat-label>
                <input type="password" matInput name="repetirPassword" formControlName="repetirPassword">
            </mat-form-field>
            <div class="mat-dialog-actions" mat-dialog-actions>
                <div class="fill"></div>
                <div class="buttons">
                    <button mat-raised-button color="accent" (click)="onClick()">{{"Guardar" | translate}}</button>
                    <button mat-raised-button (click)="close()">{{"Cerrar" | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>