.flex {
  display: flex;
}

::ng-deep app-text-box,
app-select {
  margin-right: 10px;
}

.container {
  padding: 15px;
  color: white;

  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 1.5rem;

    .form-container{
      position: inherit;
      width: 211px;
      height: 40px;
      top: 100px;
      background-color: rgba(176, 212, 244, 0.4);
      border-radius: 6px;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

      .search-by-id{
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        .mat-input-element,
        .placeholder{
          color: #ffffff;
          box-sizing: border-box;
        };
        .mat-input-element{
          width: 150px;
        };
        ::ng-deep .mat-form-field-wrapper,
        .mat-form-field-wrapper,
        ::ng-deep .mat-form-field-infix,
        ::ng-deep .mat-form-field-label{
          padding-bottom: 0em !important;
          padding-top: 0em !important;
        }
        ::ng-deep .mat-form-field-underline {
          display: none;
        };
        ::ng-depp .mat-input-placeholder{
          padding-bottom: 1em !important;
        };
        ::ng-deep .mat-form-field-label{
          bottom: 0;
          top: 14px !important;
          font-size: 12px;
          &:focus-within,
          &:focus{
            .placeholder{
              color: red !important;
            }
          }
        };
        button{
          margin-left: 10px;
          margin-right: 10px;
        };
      };

      .mat-flat-button.mat-accent {
        margin-top: 10px;
        background-color: #217280;
      }
    };
  };

  .title {
    font-size: 2rem;
    font-weight: 400;
  }

  .filters {
    display: flex;
    flex-direction: row;

    .search-button {
      height: 45px;
      margin-left: 10px;
    }
  }

  .table {
    background: white;
    padding: 2rem;

    .title {
      color: #73879c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.471;

      &:after,
      form:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }

    .table-container {
      overflow: auto;

      .mat-table {
        .main-theme-header {
          background: #217280;
          box-shadow: 0px -1px 10px rgba(154, 180, 193, 0.1);
          color: #ffffff;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .mat-row {
    height: 70px;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: break-word;
    padding: 10px 5px;
    line-break: unset;
    max-width: 150px;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    background: rgba(89, 129, 152, 0.4);
  }

  .mat-header-cell:first-child {
    border-radius: 5px 0 0 5px;
  }

  .mat-header-cell:last-child {
    border-radius: 0 5px 5px 0;
  }

}

:host ::ng-deep .mat-paginator-container {
    .mat-paginator-page-size-label {
        display: none;

    }

    .mat-form-field-infix {
        border: 2px solid #217280;
        padding: 5px !important;
    }

    .mat-paginator-page-size{
      margin-top: 0.5rem;
  }

    .mat-paginator-range-actions {
        color: #217280;
        font-size: 14px;
    }

    .mat-select-arrow {
        color: #217280;
    }
}
