<div class="tableWrapper">
    <div class="header-grid">
        <div class="header-section">
            <div class="header-start skeleton"></div>
            <div class="space-beetwen"></div>
            <div class="header-end skeleton"></div>
        </div>
        <div class="btn-new skeleton"></div>
    </div>
    <table class="table">
        <div class="row" *ngFor="let row of rows">
            <td class="skeleton"
             *ngFor="let field of fields">
            </td>
        </div>
        <div class="footer skeleton"></div>
    </table>
</div>