<div class="login-form" [ngClass]="getBackgroundColor()">
    <mat-card>
        <mat-card-header>
            <a href="https://www.khxpander.com/">
                <img src="../../../../assets/logo-alice-negro_250.png" class="img-fluid" /></a>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>
                <div class="error-form-message" *ngIf="formValidation.isValidInput(emailFormControls)">
                    {{"EmailIncorrecto" | translate}}
                </div>
                <div class="error-form-message" *ngIf="formValidation.isEmptyField(emailFormControls)">
                    {{"EmailVacio" | translate}}
                </div>
                <mat-form-field type="password" class="example-full-width" appearance="fill">
                    <mat-label>{{ "Password" | translate }}</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
                <div class="error-form-message" *ngIf="formValidation.isEmptyField(passwordFormControls)">
                    {{"PasswordVacio" | translate}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!-- <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="warn">Iniciar sesion</button> -->
                <button type="submit" [disabled]="!loginForm.valid" class="login-btn" mat-raised-button
                    color="primary">{{ "IniciarSesion" | translate }}</button>
                <div class="error-form-message" *ngIf="loginError">
                    {{"EmailPassIncorrecto" | translate}}
                </div>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            ©2021 All Rights Reserved. Alize Trust Builder Hub by Xpander. Privacy and Terms
        </mat-card-footer>
    </mat-card>
</div>