<div class="login-form">
    <mat-card>
        <mat-card-header>
            <a href="https://www.khxpander.com/">
                <img src="../../../../assets/logo-alice-blanco.png" class="img-fluid" /></a>
        </mat-card-header>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="login-mat-form" color="accent" appearance="outline">
                    <span matPrefix class="material-symbols-outlined">
                        person
                    </span>
                    <input matInput placeholder="user" formControlName="email">
                </mat-form-field>
                <div class="error-form-message" *ngIf="formValidation.isValidInput(emailFormControls)">
                    {{"EmailVacio" | translate}}
                </div>
                <mat-form-field color="accent" type="password" class="login-mat-form" appearance="outline">
                    <span matPrefix class="material-symbols-outlined">
                        lock
                    </span>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
                <div class="error-form-message" *ngIf="formValidation.isEmptyField(passwordFormControls)">
                    {{"PasswordVacio" | translate}}
                </div>
            </mat-card-content>
            <mat-spinner *ngIf="isLoading" style="margin-inline: auto;" [diameter]="50"></mat-spinner>
            <mat-card-actions>
                <button type="submit" [disabled]="isLoading || !loginForm.valid" class="login-btn" mat-raised-button>
                    <span>{{"IniciarSesion" | translate }}</span>
                </button>
                <button type="button" class="login-btn" [disabled]="isLoading || !emailFormControls?.valid" mat-raised-button (click)="passwordReset()">
                    <span>{{"RecoverPassword" | translate }}</span>
                </button>
                <div class="error-form-message" *ngIf="loginError">
                    {{"EmailPassIncorrecto" | translate}}
                </div>
            </mat-card-actions>
        </form>

        <hr width=90%>


        <mat-card-footer>
            ©2021 All Rights Reserved. Alize Trust Builder Hub by Xpander. Privacy and Terms
        </mat-card-footer>
    </mat-card>
</div>