<div class="main">
    <h1 class="title color-bold" mat-dialog-title>{{"TraceabilityHash" | translate}}</h1>
    <div class="control" appearance="outline">
        <label>{{data.hash}}</label>
        <input name="name" disabled>
    </div>

    <h1 class="title color-bold" mat-dialog-title>{{"TraceabilityData" | translate}}</h1>
    <div class="control" appearance="outline">
        <label>{{hashData}}</label>
        <input name="name" disabled>
    </div>

    <span class="color">
        {{"EncryptionDescOne" | translate}}
        <span class="traceability color-bold">{{"TraceabilityHash" | translate}}</span>
        {{"EncryptionDescTwo" | translate}}
    </span>
    <br>
    <br>
    <span class="color">
        {{"EncryptionWeb" | translate}}
        <a href="https://emn178.github.io/online-tools/sha256.html" target="_blanck" class="web color-bold">web</a>
    </span>
</div>