@import "@angular/material/theming";
@import "../../../scss-variables/variables.scss";

.app-container {
    height: 100%;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .main-container-page {
        flex: 1;
        // display: flex;
    }

    mat-drawer-container {
        height: 100%;
        background: none;

        .side-bar-expanded {
            min-width: 260px;
        }

        .side-bar-collapsed {
            min-width: auto;
        }

        mat-drawer-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            transition: all 0.25s linear;
        }
    }
}

.main-theme-sidebar {
    background: $blue-background;
}

@media screen and (max-width: 480px){
    .side-bar-expanded {
        width: 60%;
    }
}

