<div class="main">
  <div class="header">
    <h1 mat-dialog-title>{{ title | translate }}</h1>
  </div>

  <div class="mat-dialog-content" mat-dialog-content>
    <form [formGroup]="userForm">
      <div class="control" color="accent" appearance="outline">
        <label>{{ "Nombre" | translate }}</label>
        <input name="name" formControlName="firstName" />
        <mat-error>
          <app-form-error [form]="userForm" field="firstName" [errors]="userForm.get('firstName')?.errors">
          </app-form-error>
        </mat-error>
      </div>
      <div class="control" color="accent" appearance="outline">
        <label>{{ "Apellidos" | translate }}</label>
        <input name="lastName" formControlName="lastName" />
        <mat-error>
          <app-form-error [form]="userForm" field="lastName" [errors]="userForm.get('lastName')?.errors">
          </app-form-error>
        </mat-error>
      </div>
      <div class="control" color="accent" appearance="outline">
        <label>Email</label>
        <input name="email" formControlName="email" />
        <mat-error>
          <app-form-error [form]="userForm" field="email" [errors]="userForm.get('email')?.errors"></app-form-error>
        </mat-error>
      </div>

      <div class="password-field" *ngIf="data.mode === ModePopUpType.ADD">
        <div class="control" color="accent" appearance="outline">
          <label>{{ "Password" | translate }}</label>
          <input type="password" name="password" formControlName="password" />
          <mat-error>
            <app-form-error [form]="userForm" field="password" [errors]="userForm.get('password')?.errors">
            </app-form-error>
          </mat-error>
        </div>
        <div class="control" color="accent" appearance="outline" *ngIf="data.mode === ModePopUpType.ADD">
          <label>{{ "Repeat Password" | translate }}</label>
          <input type="password" name="repassword" formControlName="repassword" />
          <mat-error>
            <app-form-error [form]="userForm" field="repassword" [errors]="userForm.get('repassword')?.errors">
            </app-form-error>
          </mat-error>
        </div>
      </div>

      <div class="control" appearance="fill" *ngIf="data.mode === ModePopUpType.ADD || data.mode === ModePopUpType.EDIT">
        <label>{{ "Empresa" | translate }}</label>
        <mat-select formControlName="company">
          <mat-option *ngFor="let company of companies" [value]="company.id">
            {{ company.name }}
          </mat-option>
        </mat-select>
        <mat-error>
          <app-form-error [form]="userForm" field="company" [errors]="userForm.get('company')?.errors"></app-form-error>
        </mat-error>
      </div>

      <div class="control" appearance="fill">
        <label>{{ "Roles" | translate }}</label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </div>

      <mat-slide-toggle color="accent" formControlName="isActive">{{
        "Activo" | translate
        }}</mat-slide-toggle>
    </form>
  </div>

  <div class="mat-dialog-actions" mat-dialog-actions>
    <div class="fill"></div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="onClick()">
        {{ "Guardar" | translate }}
      </button>
      <button mat-raised-button (click)="close()">
        {{ "Cerrar" | translate }}
      </button>
    </div>
  </div>
</div>