<div class="main">
    <div class="header">
        <h1 mat-dialog-title>{{title | translate}}</h1>
    </div>

    <div class="mat-dialog-content" mat-dialog-content>
        <form [formGroup]="userForm">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>{{"Nombre" | translate}}</mat-label>
                <input matInput name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>{{"Apellidos" | translate}}</mat-label>
                <input matInput name="lastName" formControlName="lastName">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email">
            </mat-form-field>

            <div class="password-field" *ngIf="data.mode === ModePopUpType.ADD">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>{{"Password" | translate}}</mat-label>
                    <input type="password" matInput name="Contraseña" formControlName="Contraseña">
                </mat-form-field>
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>{{"RepitePassword" | translate}}</mat-label>
                    <input type="password" matInput name="RepContraseña" formControlName="RepContraseña">
                </mat-form-field>
            </div>

            <mat-form-field color="accent" appearance="outline"
                *ngIf="data.mode === ModePopUpType.GROUP || data.mode === ModePopUpType.ADD">
                <mat-label>{{"Grupos" | translate}}</mat-label>
                <input matInput name="groups" formControlName="groups">
            </mat-form-field>


            <mat-form-field color="accent" appearance="outline" *ngIf="data.mode !== ModePopUpType.ADD">
                <mat-label>{{"Empresa" | translate}}</mat-label>
                <input matInput name="company" formControlName="company">
            </mat-form-field>

            <mat-slide-toggle color="accent" formControlName="active">{{"Activo" | translate}}</mat-slide-toggle>
        </form>
    </div>

    <div class="mat-dialog-actions" mat-dialog-actions>
        <div class="fill"></div>
        <div class="buttons">
            <button mat-raised-button color="accent" (click)="onClick()">{{"Guardar" | translate}}</button>
            <button mat-raised-button (click)="close()">{{"Cerrar" | translate}}</button>
        </div>
    </div>
</div>