.main {
    width: 90%;
    height: 500px;
    margin: 40px auto;
    padding: 10px 10px 10px 10px;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
    display: flex;
    justify-content: center;

    .line-chart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar-chart {
        margin-left: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}