.main {
    margin: 2rem;
    padding: 2rem;
    border-radius: 8px 8px 8px 8px;
    background: #fff;

    div {
        display: inline-block;
        height: 400px;
        min-width: 400px;
        margin-bottom: 20px;
    }

    .line-chart-0 {
        width: 100%;
    }

    .bar-chart-1 , .bar-chart-2 {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-inline: 0;
        display: inline-block;
    }
}