<div class="header">
    <h1 class="title" mat-dialog-title>{{title | translate}}</h1>
    <h1 class="subTitle" mat-dialog-title>{{subtitle | translate}}</h1>
    <div class="infoText-main">
        <mat-icon>info</mat-icon>
        <h3 class="infoText" mat-dialog-title>{{infoText | translate}}</h3>
    </div>
</div>


<div class="mat-dialog-content-group" mat-dialog-content *ngIf="data.mode === 'GROUP'">
    <ng-container *ngFor="let user of userList">
        <mat-checkbox class="example-margin" name="active" formControlName="active"
            [disabled]="user.isActive === false" [checked]="user.isActive === true">
            {{user.firstName}}  {{user.lastName}}
        </mat-checkbox>
    </ng-container>
</div>

<div class="mat-dialog-actions" mat-dialog-actions>
    <div class="fill"></div>
    <div class="buttons">
        <button mat-raised-button (click)="close()">{{"Cerrar" | translate}}</button>
        <button mat-raised-button color="accent" (click)="onClick()">{{"Guardar" | translate}}</button>
    </div>
</div>