<ng-container *ngIf="isSideBarExpanded">
    <mat-list class="mat-list-expanded" *ngFor="let opt of optionList; let i = index">
        <mat-list-item>
            <button mat-menu-item (click)="showSubMenu(i, opt.name, opt.route)" [ngClass]="{'active': opt.isSelected}">
                <mat-icon class="menu-icon">{{opt.icon}}</mat-icon>
                <span class="span-opt-name">{{opt.name}}</span>
                <mat-icon class="arrow-icon" *ngIf="opt.name !== 'Inicio'" mat-list-icon>expand_more</mat-icon>
            </button>
        </mat-list-item>
        <div *ngIf="opt.isVisible">
            <mat-list class="sub-menu" *ngFor="let subOpt of  opt.subMenu">
                <div *ngIf="subOpt.isVisible">
                    <mat-list-item>
                        <button routerLink="/{{subOpt.route}}" (click)="activateSubMenu(subOpt)" mat-menu-item
                            [ngClass]="{'active': subOpt.isSelected}">
                            <mat-icon class="menu-icon">circle</mat-icon>
                            <span [ngClass]="{'active-text': subOpt.isSelected}">{{subOpt.name}}</span>
                        </button>
                    </mat-list-item>
                </div>
            </mat-list>
        </div>
    </mat-list>
</ng-container>

<ng-container *ngIf="!isSideBarExpanded">
    <div *ngFor="let opt of optionList; let i = index" class="menu-collapsed">
        <button mat-button (click)="showSubMenu(i, opt.name, opt.route)" [ngClass]="{'active': opt.isSelected}">
            <div>
                <mat-icon class="menu-icon">{{opt.icon}}</mat-icon>
                <span class="span-opt-name">{{opt.name}}</span>
            </div>
        </button>
        <div *ngIf="opt.isVisible" class="right-menu">
            <button (click)="activateSubMenu(subOpt)" mat-menu-item } [ngClass]="{'active': subOpt.isSelected}"
                class="sub-item-button" routerLink="/{{subOpt.route}}" mat-menu-item *ngFor="let subOpt of opt.subMenu">
                <mat-icon class="sub-menu-icon">circle</mat-icon>
                <span [ngClass]="{'active-text': subOpt.isSelected}">{{subOpt.name}}</span>
            </button>
        </div>
    </div>
</ng-container>