<div class="form-container">
    <form [formGroup]="controlsForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
            <mat-form-field hintLabel="Max 10 characters" appearance="fill"
                color="accent">
                <mat-label>Enter Text</mat-label>
                <input matInput #input name="label" formControlName="label">
                <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="fill" class="select">
                <mat-label>Select tipo de control</mat-label>
                <mat-select name="type" formControlName="type">
                    <mat-option value="{{_controlType.SELECT}}">Select</mat-option>
                    <mat-option value="{{_controlType.TEXTBOX}}">Text Box</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
            <button [disabled]="!controlsForm.valid" mat-raised-button color="accent">Agregar</button>
        </div>
    </form>
</div>