.form-container {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

    .example-container {
        width: 95%;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        border: 1px solid aliceblue;
        border-radius: 10px 10px 10px 10px;
        mat-form-field {
            width: 15%;
        }

        .select {
            margin-left: 30px;
        }

        button {
            margin-left: 30px;
        }
    }
}