<div class="header">
  <h1 mat-dialog-title>{{title}}</h1>
</div>

<div class="subtitle" *ngIf="data.mode !== 'GROUP'">
  <mat-icon *ngIf="data.mode === 'ADD'">info</mat-icon>
  <h3 mat-dialog-title>{{subtitle}}</h3>
</div>

<div class="subtitle-groups" *ngIf="data.mode === 'GROUP'">
  <p mat-dialog-title>{{subtitle}}</p>
  <div>
    <mat-icon>info</mat-icon>
    <p mat-dialog-title>{{infoText}}</p>
  </div>
</div>

<div class="mat-dialog-content" mat-dialog-content *ngIf="data.mode !== 'GROUP'">
  <form [formGroup]="applicationForm">
    <mat-form-field appearance="outline">
      <mat-label>{{"Nombre" | translate}}</mat-label>
      <input matInput name="name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{"Descripcion" | translate}}</mat-label>
      <input matInput name="description" formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="data.mode === 'ADD'">
      <mat-label>{{"Datos relevantes" | translate}}</mat-label>
      <textarea matInput cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="data.mode === 'Display' || data.mode === 'EDIT'">
      <mat-label>{{"Seleccionar Fecha" | translate}}</mat-label>
      <input matInput [matDatepicker]="picker" name="date" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="example-margin" *ngIf="data.mode === 'Display' || data.mode === 'EDIT'" name="active"
      formControlName="active" [checked]="data.isActive">{{"Activo" | translate}}</mat-checkbox>
  </form>
</div>

<div class="mat-dialog-content-group" mat-dialog-content *ngIf="data.mode === 'GROUP'">
  <ng-container *ngFor="let user of userList">
  <!-- <pre>{{userList | json}}</pre> -->
    <mat-checkbox class="example-margin" name="active" formControlName="active" [disabled]="user.status === 'Disabled'" [checked]="user.status === 'Active'">
      {{user.name}}
    </mat-checkbox>
  </ng-container>
</div>

<div class="mat-dialog-actions" mat-dialog-actions>
  <div class="fill"></div>
  <div class="buttons">
    <button mat-raised-button (click)="close()">{{"Cerrar" | translate}}</button>
    <button mat-raised-button color="primary" (click)="onClick()">{{"Guardar" | translate}}</button>
  </div>
</div>