<div class="main-container">
    <div class="page-container">
        <div class="breadcrumb">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="grid">
            <div *ngIf="!isLoading; else gridSkeleton">
                <app-grid [title]="'Administration' | translate" [subtitle]="'ListadoUsuarios' | translate" (add)="add($event)" (updatePassword)="updatePassword($event)" (delete)="deleteUser($event)" (update)="update($event)" (updateRole)="updateRole($event)" (delete)="delete($event)"
                    [columns]="displayedColumns" [elementData]="elementData" [entity]="entity" [actions]="actions">
                </app-grid>

            </div>
            <ng-template #gridSkeleton>
                <div class="grid-skeleton">
                    <app-grid-skeleton></app-grid-skeleton>
                </div>
            </ng-template>
        </div>
    </div>
</div>