.properties {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.content-space-evenly {
    justify-content: space-evenly;
}

.content-space-around {
    justify-content: space-around;
}

.content-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
    align-content: center;
}

.relative {
    position: relative;
}

.container {
    background: white;
    width: 500px;
    padding: 15px;
    border-radius: 2px;
    float: right;
    height: 100%;

    .title {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.471;
        text-transform: uppercase;
    }
    .title span{
        background-color: #142636;
        box-shadow:2.24px 4.48px 11.2px rgba(0, 0, 0, 0.25);
        padding: 0.5rem 8rem;
        border-radius: 25px;
        width: 910px;
    }
}

.material-symbols-rounded{
    align-self: center;
    color:#142636; 
    margin:none;  
}
.vl{
    width: 5px;
    background-color: #142636;
    margin-left: 1rem;
    margin-right: 1rem;
}
.step {
    
    .step-box {
        width: 365px;
        height: 60px;
        line-height: 60px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        background: #BDCDD6;
        color: #fff;
        position: relative;
        z-index: 1;
        margin: 1rem;
        box-shadow:10px 10px 6px rgba(0, 0, 0, 0.25);
    }

    .step-num{
        float: left;
        font-weight: 700;
        font-size: 24px;
        padding-left: 1rem;
    }
    .step-name{
        font-weight: 400;
        font-size:20px;
    }
}
