.properties {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.content-space-evenly {
    justify-content: space-evenly;
}

.content-space-around {
    justify-content: space-around;
}

.content-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.relative {
    position: relative;
}

.container {
    background: white;
    padding: 15px;
    border-radius: 2px;
    float: right;
    width:30%;

    .title {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.471;
    }
    .title span{
        background-color: #142636;
        padding: 0.5rem 8rem;
        border-radius: 25px;
        width: 910px;
    }
}

.material-symbols-rounded{
    padding-top:0.9rem;
    color:#142636;   
}
.vl{
    width: 5px;
    background-color: #142636;
    margin-left: 1rem;
    margin-right: 1rem;
}
.step {

    .step-box {
        width: 365px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        background: #BDCDD6;
        color: #fff;
        position: relative;
        z-index: 1;
        margin: 0.5rem;
        margin-right: 3rem;
        box-shadow:10px 10px 6px rgba(0, 0, 0, 0.25);
    }

    .step-num{
        float: left;
        padding-left: 1rem;
    }
/*
    &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 17.5px;
        left: 50%;
        width: 50%;
        height: 5px;
        background: #ccc;
    }

    &:not(:first-child)::before {
        content: "";
        position: absolute;
        top: 17.5px;
        right: 50%;
        width: 50%;
        height: 5px;
        background: #ccc;
    }
*/
}
