<div class="grid-container">
    <div class="filter">
        <div></div>
        <mat-form-field appearance="standard" color="primary">
            <mat-label>{{ "filtro" | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>

    <div class="main-grid" [ngClass]="getContentStyles()">
        <div class="toolbar">
            <div>
                <p class="title" color="primary">{{title | translate}}</p>
                <p class="sub-title">{{subTitle | translate}}</p>
            </div>
            <button *ngIf="entity === Entity.APPLICATIONS || entity === Entity.USERS" mat-stroked-button color="accent"
                (click)="showDialog(ModePopUpType.ADD)">
                <mat-icon>add</mat-icon>
                <span>{{ "nuevo" | translate }}</span>
            </button>
        </div>

        <div class="table-container">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{column.columnDef}}">
                    <mat-header-cell [ngClass]="getColorHeaderTable()" *matHeaderCellDef>{{column.header | translate}}</mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <div *ngIf="column.header === 'Activo'">
                            <mat-slide-toggle color="accent" disabled [ngModel]="row.isActive"></mat-slide-toggle>
                        </div>
                        <div *ngIf="column.header === 'Permiso'">
                            <mat-slide-toggle color="accent" disabled [ngModel]="row.isActive"></mat-slide-toggle>
                        </div>
                        <div class="common-row" *ngIf="column.header !== 'Operaciones' && column.header !== 'Activo' && column.header !== 'Permiso'">
                            {{column.cell(row)}}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="operations">
                    <mat-header-cell [ngClass]="getColorHeaderTable()" *matHeaderCellDef> {{ 'Operaciones' | translate }} </mat-header-cell>
                    <mat-cell class="operation-column" *matCellDef="let row">
                        <ng-container *ngFor="let action of actions">
                            <button class="icon-button" mat-icon-button color="accent"
                                  *ngIf="action.optionName !== ModePopUpType.CHARTS || (row.showChartAction && action.optionName === ModePopUpType.CHARTS)"
                                  (click)="showDialog(action.optionName, row)">
                                <mat-icon>{{action.icon}}</mat-icon>
                            </button>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
