<div class="grid-container">
    <div class="filter">
        <div></div>
        <mat-form-field appearance="standard" color="primary">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>

    <div class="main-grid" [ngClass]="getContentStyles()">
        <div class="toolbar">
            <div>
                <p class="title" color="primary">{{title}}</p>
                <p class="sub-title">{{subTitle}}</p>
            </div>
            <button mat-stroked-button color="accent" (click)="openDialog()">
                <mat-icon>add</mat-icon>
                Nuevo
            </button>
        </div>

        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container *ngFor="let column of columns" matColumnDef="{{column.columnDef}}">
                    <th [ngClass]="getColorHeaderTable()" mat-header-cell *matHeaderCellDef>{{column.header}}</th>

                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="column.header === 'Operaciones';else common_row">
                            <mat-list>
                                <ng-container *ngFor="let optItem of row.Operaciones">
                                    <mat-list-item>
                                        <button mat-mini-fab color="primary">
                                            <mat-icon (click)="showDialog(row, optItem.optionName)">{{optItem.icon}}
                                            </mat-icon>
                                        </button>
                                    </mat-list-item>
                                </ng-container>
                            </mat-list>
                        </div>

                        <ng-template #common_row>
                            {{column.cell(row)}}
                        </ng-template>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>