@import '~@angular/material/theming';
@import '../../scss-variables/variables.scss';

.grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .filter {
        background-color: transparent;
        display: flex;
        flex-direction: row;

        button {
            margin: 25px auto;
            height: 50%;
        }

        div {
            background-color: transparent;
            width: 90%;
            height: 100px;
        }
    }

    .main-grid {
        padding: 15px;
        color: #73879c;

        .toolbar {
            margin: 0 auto;

            div {
                display: flex;
                font-size: 18px;

                .title {

                    font-weight: bold;
                }

                .sub-title {
                    margin-left: 20px;
                }
            }
        }

        .table-container {
            margin: 40px auto;

            .mat-table {
                td {
                    height: 60px;
                    .operation-column {
                        .icon-button {
                           margin-left: 20px;
                        }
                        //    width: 35%;
                         width: 100%;
                        //    text-align: end;
                    }
                }
            }
        }
    }
}

.main-theme-background-grid {
    background: $background-grid-color;
}


.main-theme-header {
    background-color: $blue-background;
    color: mat-color($my-primary) !important;
}

.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-header-cell {
padding: 10px 5px;
}
