.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: transparent;
    height: 100px;

    .button-expand-menu {
        margin-left: 30px;

        span {
            font-size: 50px;
        }
    }
}

.logo {
    height: 60%;
    margin: 0 auto;

    &> .app-img {
        height: 100%;
    }
}