.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #EDEDED;
}

img {
    width: 2%;
    border-radius: 50%;
}

.btn-nav-menu {
line-height: 18px;
}

.btn-nav-menu .nav-role {
  color:#696262;
}
