<mat-toolbar>
  <button *ngIf="isSideBarCollapsedEnabler" color="accent" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon aria-hidden="false" (click)="handleSideBarToggle()" aria-label="Example reorder icon">reorder</mat-icon>
  </button>
  <span class="example-spacer"></span>

  <button color="accent" mat-button [matMenuTriggerFor]="menuLang">
    <mat-icon>language</mat-icon> {{currentLang}}
  </button>
  <mat-menu  color="accent" #menuLang="matMenu" xPosition="before">
    <button (click)="ChangeLanguaje('es')" mat-menu-item>{{"Espanol" | translate}}</button>
    <button (click)="ChangeLanguaje('en')" mat-menu-item>{{"Ingles" | translate}}</button>
  </mat-menu>


  <img src="../../../../assets/kh.png" alt="">
  
  <button color="accent" mat-button [matMenuTriggerFor]="menuUser">
    oscar.valente@kardumtech.es
  </button>

  <mat-menu #menuUser="matMenu" xPosition="before" class="user-menu">
    <button color="primary" mat-menu-item (click)="showPasswordPopUp('Oscar Valente')">
      <span style="margin-right: 60px">Cambiar Contraseña</span>
      <mat-icon style="position: absolute;
      right: 10px;
      top: 10px;">key</mat-icon>
    </button>
    <button color=primary mat-menu-item (click)="closeSession()">
      <span style="margin-right: 60px">Cerrar Sesion</span>
      <mat-icon style="  position: absolute;
      right: 10px;
      top: 10px;">logout</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>