@import "~@angular/material/theming";
@import "../../../../scss-variables/variables.scss";

.sidebar-container {
    display: flex;
    flex-direction: column;

    & > .logo {
        height: 50px;
        margin: 0 auto;

        & > img {
            margin: 10px auto;
            height: 100%;
        }
    }

    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        & > .logo {
            margin: 0 10px;
            align-self: center;

            & > img {
                height: 60px;
                margin: auto;
                border-radius: 50%;
            }
        }

        .user-profile {
            margin-left: 10px;

            .welcome {
                font-weight: 700;
                font-size: 17px;
                opacity: 0.5;
            }

            .user-name {
                font-size: 15px;
            }
        }
    }

    .mat-list-expanded {

        // padding: 0;
        button {
            width: 90%;
            height: 50px;
            display: flex;
            font-size: 15px;

            span {
                margin-left: 15px;
            }

            .arrow {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        .sub-item-list {
            padding: 0;
            width: 95%;

            .sub-menu {
                cursor: pointer;
                width: 100%;

                mat-list-item {
                    width: 100%;

                    button {
                        text-align: left;
                        width: 100%;

                        .menu-icon {
                            font-size: 8px;
                            padding-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

.dark-theme-title {
    color: mat-color($my-accent-dark);
}

.main-theme-title {
    color: mat-color($my-primary);
}

.dark-theme-subtitle {
    color: mat-color($my-accent-dark);
}

.main-theme-subtitle {
    color: mat-color($my-primary);
}

.active {
    border-right: 4px solid aqua;
    opacity: 0.6;
}
