<div class="sidebar-container">
    <div class="header">
        <p class="title">ALIZE</p>
        <p class="subtitle">Trust Builder Hub</p>
    </div>

    <div class="profile">
        <div class="logo">
            <img src="../../../../../assets/kh.png" alt="">
        </div>
        <div class="user-profile">
            <p class="welcome">Bienvenido</p>
            <p class="user-name">Oscar Valente</p>
        </div>
    </div>

    <app-option-menu-list [isSideBarExpanded]="true"></app-option-menu-list>
</div>
