.container {
    
    color: #ffffff;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;

    app-breadcrumb{
        margin-top: 2rem;
    }
    .title {
        font-size: 2rem;
        font-weight: 400;
    }

    .details {
        margin: 2rem 1.5rem;
        height: 90%;
        align-items: baseline;
        display: flex;
        flex-direction: column;
        background: rgb(0,0,0,0.2);
        padding-left: 1rem;
        flex: 1;
        text-overflow: ellipsis;

        .header{
            margin-top: 1rem;
            font-size: 32px;
        }

        .date {
            font-weight: 500;
            font-size: 24px;
            line-height: 156.3%;
            text-align: center;
            color: #fff;
            text-align: center;
            margin-top: 2.5rem;

            .day,
            .year {
                font-size: 36px;
            }
        }

        .properties {
            flex-direction: column;
            display: flex;
            padding-right: 1rem;
        }

        .size-14{
            font-size: 14px;
        }
        .size-16{
            font-size: 16px;
            margin: 2rem 0;
        }

    }

    .alert-container {
        display: flex;
        width: calc(100% - 1rem);
        flex: 1;
        justify-content: center;
        margin: 1rem;
        margin-left:0;

        .alert-bar-button {
            height: 60px;
            font-size: 14px;
            background-color: #80cbc4;
            align-self: flex-end;
            justify-content: center;

            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .alert-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                span,
                mat-icon {
                    margin-left: 5px;
                }

                mat-icon,
                span {
                    color: #fff;
                }
            }
        }
    }
}


.mat-stroked-button {
  border-color: #ffffff !important;
  margin-top: 1rem;
}


:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent !important;
}

.flex-1 {
    flex: 1
}
