
<div class="container" *ngIf="assetTemplate">
    <app-breadcrumb></app-breadcrumb>
    <h1 class="title">{{ 'asset.details' | translate }}</h1>
    <div *ngIf="asset" class="details flex">
        <div class="date">
            <p class="day">{{ day }}</p>
            <p class="month">{{ month }}</p>
            <p class="day">{{ year }}</p>
        </div>
        <div class="properties flex">
            <h2>{{ asset?.id }}</h2>
            <span *ngFor="let field of assetTemplate?.fields">
                <b>{{ field.header }}:</b> {{ resolve(field.property, asset) }}
            </span>
        </div>
    </div>
    <app-asset-detail-table *ngIf="assetTemplate?.columns && assetTemplate?.columns?.length"
        [tableTemplate]="assetTemplate?.columns ?? []">
    </app-asset-detail-table>
    <app-asset-detail-stepper *ngIf="assetTemplate?.steps && assetTemplate?.steps?.length"
        [stepperTemplate]="assetTemplate?.steps ?? []">
    </app-asset-detail-stepper>
    <div class="alert-container">
        <button mat-raised-button class="alert-bar-button">
            <div class="button-container">
                <mat-icon>info</mat-icon>
                <span [title]="'alertBlockchain' | translate" class="alert-text">
                    {{ 'alertBlockchain' | translate }}
                </span>
                <mat-icon (click)="openEncryptedPopUp()">file_download_done</mat-icon>
            </div>
        </button>
    </div>
</div>
