.flex {
    display: flex;
}

.container {
    padding: 15px;
    color: #73879c;

    .title {
        font-size: 2rem;
        font-weight: 400;
    }

    .details {
        align-items: baseline;

        .date {
            background: #ccc;
            margin: 0 10px;
            border-radius: 10px;
            padding: 5px 10px;

            .day,
            .year {
                text-align: center;
                color: #fff;
                font-size: 27px;
                margin: 0;
                line-height: 27px;
                font-weight: bold;
            }

            .month {
                margin: 0;
                text-align: center;
                color: #fff;
            }
        }

        .properties {
            flex-direction: column;
        }
    }

    .alert-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .alert-bar-button {
            height: 60px;
            font-size: 20px;
            background-color: #80cbc4;

            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .alert-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                span,
                mat-icon {
                    margin-left: 5px;
                }

                mat-icon,
                span {
                    color: #fff;
                }
            }
        }
    }
}

:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent !important;
  }