.container {
    padding: 15px;
    color: #ffffff;

    .title {
        font-size: 2rem;
        font-weight: 400;
    }

    .details {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        background: rgb(0,0,0,0.2);
        padding-left: 1rem;
        margin-right: 1rem;
        flex: 1;
        text-overflow: ellipsis;
        

        .date {
            font-weight: 500;
            font-size: 24px;
            line-height: 156.3%;
            text-align: center;
            color: #fff;
            text-align: center;
            padding-top: 2rem;

            .day,
            .year {
                font-size: 36px;
            }
        }

        .properties {
            flex-direction: column;
            display: flex;
            padding-right: 1rem;
        }

        .size{
            font-size: 14px;
        }

        .button-wrapper {
          position: absolute;
          bottom: 2%;
        }
    }

    .alert-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .alert-bar-button {
            height: 60px;
            font-size: 20px;
            background-color: #80cbc4;

            .button-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .alert-text {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                span,
                mat-icon {
                    margin-left: 5px;
                }

                mat-icon,
                span {
                    color: #fff;
                }
            }
        }
    }
}


.button-wrapper .mat-stroked-button {
  border-color: #ffffff !important;
}


:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: transparent !important;
}


@media (max-width: 1611px) {
  .container {
    .details {
    margin-bottom: 35px;
      .button-wrapper {
        bottom: -18%;
      }
    }
  }
}
