<div *ngIf="!isLoading; else gridSkeleton" class="container">
    <h1 class="title">Detalle del activo</h1>
    <div class="details flex">
        <div class="date">
            <p class="day">{{day}}</p>
            <p class="month">{{month}}</p>
            <p class="day">{{year}}</p>
        </div>
        <div class="properties flex">
            <h2>{{asset.id}}</h2>
            <span *ngFor="let field of assetTemplate?.fields">
                <b>{{ field.header }}:</b> {{ asset.data[field.property] }}
            </span>
        </div>
    </div>
    <div class="table">
        <h2 class="title">Registros</h2>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column.property" *ngFor="let column of assetTemplate?.columns">
                <mat-header-cell *matHeaderCellDef> {{ column.header }} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element[column.property] }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="rowDefs"></mat-header-row>
            <mat-row *matRowDef="let row; columns: rowDefs"></mat-row>
        </mat-table>
    </div>
</div>

<ng-template #gridSkeleton>
    <div class="grid-skeleton">
        <app-grid-skeleton></app-grid-skeleton>
    </div>
</ng-template>