.float-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;

    button {
        width: 90px;
        height: 90px;
    }

    .menu-container {
        padding: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid grey;
        width: 400px;
        height: 300px;
        position: fixed;
        bottom: 150px;
        right: 50px;
        transition: all 0.2s ease-in 0s;
        z-index: 9999;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    
        h3 {
            height: 30px;
            border-bottom: 2px solid grey;
        }
    
        button {
            margin-top: 10px;
            width: 50%;
            height: 15%;
        }
    }
}

.main-theme {
    background: #fff;
}

.dark-theme {
    background: #222;
}

.dark-theme-font {
    color: #fff;
}